body {
    margin: 30px 1px 30px 1px;
    text-align: center;
    color: rgb(4, 30, 66);
}

h1 {
    margin: 30px;
}

#logo {
    max-width: 300px;
    border: 10px solid rgb(108, 172, 228);
    padding: 10%;
}